// Color Pallets Gym
$color-black: #26303d;
$color-blue: #14213d;
$color-yellow: #fca311;
$color-gray: #e5e5e5;
$color-white: #ffffff;

// Border Radius
$small-br: 0.3rem;
$medium-br: 0.8rem;
$large-br: 1rem;

// Font-size
$small-fs: 1.4rem;
$medium-fs: 1.8rem;
$large-fs: 2.6rem;
