.notfoundpage {
  padding: 2rem;
  height: 100vh;
  background-image: url("../assets/imgs/not-found.jpg");
  background-size: 50%;
  background-position: left;
  background-repeat: no-repeat;

  position: relative;

  & > * {
    position: absolute;
    top: 50%;
    right: 25%;
    width: 18rem;
    height: 6rem;

    font-size: $medium-fs;
    background-color: $color-yellow;
    color: $color-blue;

    border-radius: $medium-br;
  }
}
