*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Fira Sans", sans-serif; }

.header {
  background-color: #14213d;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 10%; }

.content {
  margin-top: 2rem;
  flex: 0 0 85%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.4rem; }

.footer {
  background-color: #14213d;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 5%; }

.app_container {
  display: flex;
  flex-direction: column;
  height: 100vh; }
